<!DOCTYPE html>
<html>
<head>
    <title>Snack Suggestion</title>
</head>
<body>
   <h2>WELCOME TO HAVE HEALTHY SNACKS API</h2>
    <form method="post">
        <label for="mood">Enter your mood(happy/sad/tired):</label>
        <input type="text" name="mood" required><br><br>

        <label for="time">Enter the time of day (morning,afternoon/ evening/night):</label>
        <input type="text" name="time" required><br><br>

        <input type="submit" value="Get Snack Suggestion">
    </form>
</body>
</html>
